{
    "presets": [
        "./tools/es2015Preset"
        // ,   "stage-0"  // для bitshares-ui
    ]
    // , "env": {
    //     "cjs": {
    //         "plugins": ["add-module-exports"]
    //     }
    // }
}
